#canvas{
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    position: absolute;
    background-color: transparent;
    border: 4px rgb(2, 86, 95) solid;
    z-index: 0;
}

#canvas-bg{
    position:absolute;
    background-color: transparent;
    border: 4px rgb(85, 0, 169) solid;
    z-index: -1;
}

.left-side{
    width: auto;
    float:left;
    border: 1px solid red;
}

.tab-content{
    position:relative;
    border: 1px pink solid;
}

.right-side{
    border: 3px solid greenyellow;
    float: left;
    width: 70%;
    height: 500pt;
    position: relative;
}

#webpage {
    width: auto;
    height:auto;
    border: 1px solid black;
    overflow: hidden;
}

#left-panel {
    width: auto;
    display: inline-flex;
   }
.col-sm-6 {
    height: fit-content;
    width: fit-content;
    border: 1px solid purple;
  }

#btn-save{
    display: flex;
    justify-content: end;
}

#title{
    text-align:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}


